{% load static %}
<script type="text/javascript">
$.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });

$(function(){
    $('#close_modal').click(function(){
        $("#detailModal").css('display', 'none');
        $(".nav-bar").css('display', 'block');
        document.body.style.overflowY = "visible";
        $(".close_modal").unbind("click");
    })
})

$(document).on("click", function(e){
    if( $("#detailModal").is(e.target)) {
        $("#detailModal").css({ display:"none" });
        document.body.style.overflowY = "visible";
        $(".nav-bar").css('display', 'block');
    }
});

$(".dlike").click(function(){
    var g_no = $(this).attr('g_no');
    var u_no = $(this).attr('u_no');
    var onoff = $(this).attr('onoff');
    console.log('g_no : ' + g_no + ', u_no : ' + u_no + ', onoff : ', onoff);
    if(u_no == 0) {
        alert('로그인이 필요합니다.');
    }else{
        $.ajax({
            url: 'gallike.do',
            data:{'g_no': g_no,
                  'u_no': u_no,
                  'onoff': onoff},
            success: function(result){
                $('#con').html(result);
            }
        });
        if(onoff=='1'){
            $(this).attr('onoff', '0');
            $(this).attr('class', 'bi bi-heart fs-5 dlike');
            $(this).css('color', '#e06666');
            $('div#'+g_no+' > a > i').attr('onoff', '0');
            $('div#'+g_no+' > a > i').attr('class', 'bi bi-heart fs-5 like');
            $('div#'+g_no+' > a > i').css('color', '#e06666');
        }else{
            $(this).attr('onoff', '1');
            $(this).attr('class', 'bi bi-heart-fill fs-5 dlike');
            $(this).css('color', '#e06666');
            $('div#'+g_no+' > a > i').attr('onoff', '1');
            $('div#'+g_no+' > a > i').attr('class', 'bi bi-heart-fill fs-5 like');
            $('div#'+g_no+' > a > i').css('color', '#e06666');
        }
    }
})

$('#reply_text').keypress(function(e){
    if(e.keyCode == 13){
        $('#reply_btn').click();
    }
})

$('#reply_btn').click(function(){
    var reply = $('#reply_text').val();
    var g_no = $('.dlike').attr('g_no');
    var u_no = $('.dlike').attr('u_no');
    console.log('g_no : ' + g_no + ', u_no : ' + u_no);
    console.log(reply);
    if(u_no == ''){
        alert('로그인이 필요합니다.');
    }else{
        $.ajax({
            url: 'galreply.do',
            type: 'post',
            data: {'g_no': g_no,
                   'u_no': u_no,
                   'reply': reply},
            success:function(result){
                $('#con').html(result);
            }
        });
    }
})
</script>

<!--<div class="modal_title">-->
<!--    <div class="modal_title_side"></div>-->
<!--&lt;!&ndash;        <div>{{data.g_no}}게시물</div>&ndash;&gt;-->
<!--    <div class="modal_title_side" role="button" id="close_modal">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">-->
<!--          <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>-->
<!--          <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>-->
<!--        </svg>-->
<!--    </div>-->
<!--</div>-->
<!--<div style="display: flex;">-->
<!--    <div style="width: 400px; height: 500px;">-->
<!--        <div class="border di position-relative overflow-hidden" style="width: 365px; margin: 11px; height: 500px;">-->
<!--            <img class="img-fluid" src="../static/img/{{detail.photopath}}" style="width: 100%; height: 100%;">-->
<!--	        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-2 py-1 px-3">{{detail.hashtag}}</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div style="width: 400px;">-->
<!--        <div class="" style="width: 365px; margin: 11px; height: 500px;">-->
<!--            <div class="d-block h5 mb-2">{{detail.gu_name}}</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div>-->
<!--    <div >-->
<!--        댓글 {{c_count}}개-->
<!--    </div>-->
<!--    <hr>-->
<!--    {% for c in comment %}-->

<!--    <div id="cuser" style="float: left;" class="row-1 col-12">-->
<!--        <div class="col-2">{{c.cu_name}}</div>-->
<!--        <div class="col-10 ">{{c.content}}</div>-->
<!--    </div>-->
<!--    <br>-->
<!--&lt;!&ndash;    <div id="comment">&ndash;&gt;-->
<!--&lt;!&ndash;        {{c.content}}&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    {% endfor %}-->
<!--</div>-->

<style>
textarea, button{vertical-align: middle;}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box1 {
   float:left; width:65%; height: 100%;}
.box2 {
      float:right; width:35%; height: 900px; padding-top: 1%;}
.block1 {
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: -5px;
        font-weight: 600;
        }
.block2{
    -ms-overflow-style: none;
    padding-left: 2%;
    padding-right: 2%;
    height: 650px;
    overflow-y: auto;
    font-size: 13px;
}
.block2::-webkit-scrollbar{
    display:none;
}
.block3 {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 15%;
    margin-top: -5px;
    height: 90px;
}
.block4 {
    padding-left: 2%;
    padding-right: 0%;
    margin-top: -9px;
    height: 40px;
}
.icons {
    margin-left: 1px;
    margin-right: 10px;
    font-size: 20px;
}
.detail_nick {
    float: left;
    margin-right: 5px;
    font-weight: bold;
}

</style>
<div class="modal-content">
      <div class="modal-body" style="margin: -16px;">
          <div class="box1">
              <img src="/static/gallery_images/{{detail.photopath}}">
              <div class="bg-primary rounded text-white position-absolute start-1 top-0 m-2 py-1 px-3">{{detail.hashtag}}</div>
          </div>
          <div class="box2">
            <div class="block1">{{detail.gu_name}}<a href="#"><i class="bi bi-three-dots" style="float: right;"></i></a></div>
            <hr style="height: 0.5px;">
            <div class="block2">
                <div class="detail_nick">{{detail.gu_name}}</div>{{detail.content}}
                <br><br>
                {% for c in comment %}
                <div class="detail_nick">{{c.cu_name}}</div>{{c.content}}<br><br>
                {% endfor %}
            </div>
            <hr style="height: 0.5px;">
            <div class="block3">
              <div class="icons">
                  {% if like == 1 %}
                  <div style="font-size: 15px;"><i g_no="{{detail.g_no}}" u_no="{{user.user_no}}" onoff="1" role="button" class="bi bi-heart-fill fs-5 dlike" style="color:#e06666; margin-right:10px;"></i>좋아요 {{like_count}}개</div>
                  {% else %}
                  <div style="font-size: 15px;"><i g_no="{{detail.g_no}}" u_no="{{user.user_no}}" onoff="0" role="button" class="bi bi-heart fs-5 dlike" style="color:#e06666; margin-right:10px;"></i>좋아요 {{like_count}}개</div>
                  {% endif %}
<!--                  <i class="bi bi-chat icons"></i>-->
<!--                  <i class="bi bi-send icons"></i>-->
                  <!--<i class="bi bi-bookmark icons" style="float: right;"></i>-->
              </div>
<!--              <div style="font-size: 15px; font-weight: 600; padding-bottom: 1%;">좋아요 {{like_count}}개</div>-->
              <div style="font-size: 10px; color: gray;">{{detail.g_date}}</div>
            </div>
            <hr style="height: 0.5px;">
            <div class="block4">
                <div style="float: left; width: 78%;" ><textarea class="form-control" id="reply_text" rows="1" style="border: none; resize: none; font-size: 15px;"  placeholder="댓글 달기..."></textarea></div>
                <div style="float: right; display: inline;">
                <div class="col-auto">
                  <button type="button" id="reply_btn" class="btn btn-link" style="float: right; font-size: 15px;">게시</button>
                </div>
              </div>
            </div>
      </div>
      </div>
</div>
