<style>
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }
</style>

{% for d in data %}
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="property-item rounded overflow-hidden">
        <div id="detail" class="position-relative overflow-hidden detail1" data-id="{{d.g_no}}" role="button">
            <img class="img-fluid img-wrapper" src="/static/gallery_images/{{d.photopath}}">
            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-2 py-1 px-3">{{d.hashtag}}</div>
        </div>
        <div class="p-3 pb-0">
            <h5 class="text-primary mb-2" style="float:left; margin:0px 10px 0px 0px;">{{d.u_name}}</h5>
            <h8 class="text-primary mb-3" style="float:left; margin:0px 10px 0px 0px;">{{d.u_badge}}</h8>
            <div id="{{d.g_no}}">
            {% if d.like == 1 %}
            <a><i id="on" role="button" class="bi bi-heart-fill fs-5 like" style="float:right; color:#e06666;" g_no="{{d.g_no}}" u_no="{{user.user_no}}" onoff="1"></i></a>
            {% else %}
            <a><i id="off" role="button" class="bi bi-heart fs-5 like" style="float:right; color:#e06666;" g_no="{{d.g_no}}" u_no="{{user.user_no}}" onoff="0"></i></a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="modal_overlay" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" id="con" data-id="{{d.like}}">

    </div>
</div>
